---
layout: default
title: {{ site.name }}
---

<div id="home">
{% assign pres = site.posts | where: 'categories', "presentation"%}
  {% for post in pres %}
      <h1>{{ post.title }}</h1>
      <center><p>{{ post.content }}</p></center>
    {% endfor %}

  <h1>Les événements du jour </h1>
  {% assign filtered_posts = site.posts | where: 'concern', "mercredi" | sort: date%}
  <div class="billets">
          {% for post in filtered_posts %}
          <hr/>
        <center><h2>{{ post.title }}</h2></center>
        <center><p>{{ post.content }}</p></center>
      {% endfor %}
      <hr/>
  </div>

  {% assign planning = site.posts | where: 'categories', "planning" %}
    {% for post in planning %}
        <a href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1>
          <p>{{ post.excerpt }}</p>
        </a>
    {% endfor %}

{% assign remerciements = site.posts | where: 'categories', "remerciements" %}
{% for post in remerciements %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
{% endfor %}

</div>
